.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.intro-heading {
  font-size: 4rem;
  font-weight: 500;
}
.intro-description {
  font-size: 1.5rem;
  font-weight: 300;
}
.start {
  font-size: 1.5rem;
  font-weight: 300;
  width: fit-content;
  margin-top: 10px;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
  color: #fff;
  background-color: #4d5b9e;
  cursor: pointer;
}

.test-page-container {
  width: fit-content;
  max-width: 1200px;
  height: fit-content;
  padding: 25px 60px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px#c7cff5, 2px 0px 4px 0px #c7cff5;
}

.question-container {
  max-width: 100%;
  height: fit-content;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #d7dbf1;
}

.question {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.options-container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 50px;
}
.option {
  font-size: 1rem;
  max-width: 250px;
  width: fit-content;
  padding: 3px 15px;
  border-radius: 10px;
  border: 1px solid #7886cf;
  background-color: #fff;
  color: #7886cf;
  cursor: pointer;
}
.option:hover {
  background-color: #4d5b9e;
  color: #fff;
}
.option:active {
    transform: scale(.9);
}

.selectedButton {
  background-color: #4d5b9e;
  color: #fff;
}

.loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 8px solid #d9dcf1;
  border-top-color: #293264;
  border-right-color: #293264;
  border-radius: 50%;
  animation: loading ease 1.5s infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(2turn);
  }
}
.result {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.toggleButton {
  width: fit-content;
  height: 40px;
  padding: 5px 20px;
  border: 0;
  border-radius: 8px;
  background-color: #4d5b9e;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.result-description {
  font-size: 2rem;
}

.toggleButton:active{
  transform: scale(0.9);
}

.correct_option{
  background-color: #77d48b;
  border-color: #94D7A2;
  color: #4d5b9e;
}
.correct_option:hover{
  background-color: #94D7A2;
}

.a{
  text-decoration: none;
}
.incorrect_option{
  background-color: #F8BCBC;
  border-color: #F8BCBC;
}